:root {
    --lapis: #015E80ff;
    --gold: #F9B130ff;
    --black: #040305ff;
    --white: #F5F6F6ff;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--lapis);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--white);
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.alien-box {
    background-image: url(../images/ufo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    min-height: 100vh;
}

#cow,
#cow01,
#cow02 {
    background-image: url(../images/cow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: 700px;
    opacity: 1;
    transition: opacity 0.5s ease, filter 0.5s ease;
}

#cow01 {
    left: 120px;
    display: none;
    opacity: 0;
}

#cow02 {
    top: 600px;
    right: 120px;
    display: none;
    opacity: 0;
}

.abducted {
    animation: abduct 2s ease-in-out infinite alternate;
}

.flipped {
    animation: flip 2s ease-in-out infinite;
}

.painted {
    filter: saturate(100%) sepia(38%) saturate(1761%) hue-rotate(332deg) brightness(94%) contrast(97%);
}

.party {
    animation: party-colors 1s ease infinite;
}

@keyframes abduct {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-200px);
    }
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

@keyframes party-colors {
    from {
        filter: sepia(38%) saturate(1761%) hue-rotate(10deg);
    }

    to {
        filter: sepia(38%) saturate(1761%) hue-rotate(360deg);
    }
}