:root {
    --lapis: #015E80ff;
    --gold: #F9B130ff;
    --black: #040305ff;
    --white: #F5F6F6ff;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--lapis);
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--white);
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.interactive-box {
    margin: 0;
    text-align: center;
    min-height: 100vh;
    background-image: url('../images/ufo-white.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.footer {
    background-color: var(--black);
}