:root {
    --lapis: #015E80ff;
    --gold: #F9B130ff;
    --black: #040305ff;
    --white: #F5F6F6ff;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--lapis);
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-position: bottom;
    color: var(--white);
    margin: 0;
    text-align: center;
    font-family: arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.alien-box {
    background-image: url(../images/ufo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    min-height: 100vh;
}

#cow {
    background-image: url(../images/cow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    height: 100px;
    position: relative;
    top: 500px;
}

#cow.abducted {
    animation: abduct 2s ease-in-out infinite alternate;
}

#cow.flipped {
    animation: flip 2s ease-in-out infinite;
}

@keyframes abduct {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-70px);
    }
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}